/* Base Style for all elements */
* {
/*     This is a margin css description */
    margin: 0;
/*     This is a padding css description */
    padding: 0;
/*     Font css for whole of the project */
    font-family: 'Poppins', sans-serif;
/*     box sizing css */
    box-sizing: border-box;
}

/* Container Styles */
.container {
    /* Fill the entire width of the viewport */
    width: 100%;
    /* Set minimum height to 100vh (viewport height) */
    min-height: 100vh;
    /* Apply background gradient */
    background: linear-gradient(135deg, #153677, #4e085f);
    /* Add padding around the container */
    padding: 10px;
}
/* To-Do app wrapper styles */
.todo-app {
/* Fill the available width up to 540px */
    width: 100%;
    max-width: 540px;
/* Set white background color */
    background: #fff; 
/* Center the to-do app horizontally and add vertical spacing */
    margin: 100px auto 20px;
/* Add padding inside the to-do app */
    padding: 40px 30px 70px;
    border-radius: 10px;
}
/* To do app heading styles */
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px ;
    margin-left: 10px;

}
/* Image within the heading styles */
.todo-app h2 img{
    width: 30px;
    margin-left: 10px ;

}
/* Input row styles */
.row{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
/* Input field styles */
input{
    flex:1;
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
}
/* Add button styles */
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
/* To-do list styles */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;


}
/* Checkbox before the list item styles */
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}
/* Styles for checked list items */
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
/* Checkbox for checked list items styles */

ul li.checked::before{
    background-image: url(checked.png);

}
/* Delete button within the list item styles */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    color: #555;
    text-align: center;
    border-radius: 50px;

}
/* Background for delete button when hovered styles */
ul li span:hover{
    background: #edeef0;

}
